MANAGEBAC_BASE_URL=https://thegaudium.managebac.com
MANAGEBAC_LOGIN=
MANAGEBAC_PASSWORD=
MANAGEBAC_ADRIKA_LOGIN=
MANAGEBAC_ADRIKA_PASSWORD=
SYNC_SECRET=
GITHUB_PERSONALIZATION_TOKEN=
GITHUB_PERSONALIZATION_REPO=skoolng/schoolwork
GITHUB_PERSONALIZATION_BRANCH=main
